SECRET_KEY= # your django secret key

DEBUG= # True or False

# PostgreSQL parameters

POSTGRES_DB= # DB name
POSTGRES_USER= # the name of the PostgreSQL user
POSTGRES_PASSWORD= # the password of the PostgreSQL user.
POSTGRES_HOST= # the address of the database server.
POSTGRES_PORT= # the port on which PostgreSQL is running,

# Yandex SMTP server settings

EMAIL_HOST_USER = 'your_email@yandex.ru'
EMAIL_HOST_PASSWORD = 'your-app-password'

# Redis settings

REDIS_URL = 'redis_location'

# Celery settings

CELERY_BROKER_URL=URL-адрес брокера сообщений
CELERY_RESULT_BACKEND=URL-адрес брокера результатов

# CORS settings

CORS_ALLOWED_ORIGINS= Замените на адрес вашего фронтенд-сервера
CSRF_TRUSTED_ORIGINS= Замените на адрес вашего фронтенд-сервера и добавьте адрес бэкенд-сервера

# Telegram settings
TELEGRAM_URL= Замените на используемый url, например https://api.telegram.org/bot
TELEGRAM_TOKEN=Замените на ваш токен из telegram
